In [61]:
import pandas as pd

In [62]:
data=pd.read_csv("/content/train.csv")

In [63]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [64]:
#checking for null values
data.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [65]:
data1 = pd.DataFrame(data)

In [66]:
#(a)Replacing the null values of Mileage, Engine, Power, Seats and New_Price
#Median is used to avoid outliers for Mileage, Engine and Power
#Mode is used for Seats, as seats are only two types(5 or 7)
# Dropping the New_Price column, because there are two many null values

In [67]:
# To perform the above operations, we need to convert the float values to int values

###(b)
#  Removing the units from Mileage, Engine, Power and New_Price
data1['Mileage'] = data1['Mileage'].str.extract('(\d+\.\d+)').astype(float)

data1['Engine'] = data1['Engine'].str.replace(' CC', '').astype(float)

data1['Power'] = data1['Power'].str.extract('(\d+\.\d+)').astype(float)

data1['New_Price'] = data1['New_Price'].str.extract('(\d+\.\d+)').astype(float)

In [68]:
data1['Mileage'].fillna(data1['Mileage'].median(),inplace=True)
data1['Engine'].fillna(data1['Engine'].median(),inplace=True)
data1['Power'].fillna(data1['Power'].median(),inplace=True)
data1['Seats'].fillna(data1['Seats'].mode()[0],inplace=True)

data1.drop('New_Price', axis=1, inplace=True)

In [69]:
data1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.19,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

In [70]:
output_csv_file = '/content/cleaned_data.csv'
data1.to_csv(output_csv_file, index = False)

In [71]:
data2 = pd.read_csv('/content/cleaned_data.csv')

In [72]:
data2.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [78]:
# (c)
# Changing the "Fuel_Type" and "Transmission" into numerical values

data2['Fuel_Type'].unique()
data2['Transmission'].unique()
data2['Owner_Type'].unique()

data2['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
data2['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
data2['Owner_Type'].replace({'First': 1, 'Second': 2, 'Third': 3, 'Fourth & Above': 4}, inplace=True)

output_csv_file = '/content/encodedData.csv'
data2.to_csv(output_csv_file, index = False)

data2.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_Type
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50,Sedan
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50,Sedan
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00,SUV
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74,Sedan
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50,Sedan

In [79]:
#(d)
# Adding one more column called car_type where if the car has 5seats it is a sedan and if it has 7seats then it is a SUV.

def car_type(Seats):
  if Seats == 5:
    return "Sedan"
  else:
    return "SUV"

data2['Car_Type'] = data2['Seats'].apply(car_type)

output_csv_file = '/content/mutatedData.csv'
data2.to_csv(output_csv_file, index = False)
data2.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_Type
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50,Sedan
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50,Sedan
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00,SUV
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74,Sedan
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50,Sedan